window {
  font-family: Mononoki Nerd Font Mono;
  font-size: 18px;
  background-color: rgba(96, 90, 82, 0.4);
} 

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  color: #FCFBF9;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 10px;
}

button:focus {
  color: #886A44;
  font-style: italic;
  font-weight: bold;
}

button:hover {
  background-size: 50%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background-color: #F7F3EE;
  color: #605A52;
  font-style: normal;
  font-weight: normal;
  transition: all 0.3s cubic-bezier(0.55, 0.0, 0.28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}

#suspend {
  background-image: image(url("./icons/suspend.png"));
}
#suspend:hover {
  background-image: image(url("./icons/suspend-hover.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));

}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}
